@page
@model LoginModel

@{
    ViewData["Title"] = "Se connecter";
}

<div class="themePage themePage__with__paddingTop">
    <h2 class="themePage__login__appLogo">Express Voitures</h2>
    <div class="themePage__Form">
        <form id="account" method="post">
            <div class="form-group">
                <label asp-for="Input.Email" class="control-label"></label>
                <input asp-for="Input.Email" class ="form-control" autocomplete="username" aria-required="true"/>
            </div>
            <div class="form-group">
                <label asp-for="Input.Password" class="control-label"></label>
                <input asp-for="Input.Password" class ="form-control" autocomplete="current-password" aria-required="true"/>
            </div>
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="themePage_login__actionContainer">
                <button id="login-submit" type="submit" class="themeButton">Se connecter</button>
                <span>ou</span>
                <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl" class="themeButton">S'inscrire</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
