.themePage {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.themePage.themePage__with__paddingTop{
    padding-top: 190px;
}

.themePage__subPage {
    display: flex;
    flex-direction: column;
    gap: 57px;
    justify-content: center;
    align-items: center;
}

.themeNav__gap {
    gap: 20px;
}

.themeNav__textLogo {
    font-family: "Libre Baskerville", serif;
    font-weight: 700;
    font-size: 20px;
    color: #2C1810;
}

.themeNav__item {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-size: 14px;
    color: #2C1810;
}

.themeNav__item.selected {
    font-weight: 700;
}

.themeTitle {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: italic;
    font-size: 44px;
    color: #796157;
}

.themeDescription {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: #2C1810;
    text-align: center;
}

.themeButton {
    padding: 20px 23px;
    background-color: #D9A963;
    border-radius: 5px;
    text-decoration: none;
    border: none;
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: #2C1810;
}

.themeButton:hover {
    background-color: #B99056;
    color: white;
}

.themeButton > .themeButton__text {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: #2C1810;
}

.themeButton > .themeButton__text:hover {
    color: white;
}

.themeAddButton {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "DM Sans", sans-serif;
    font-size: 38px;
    height: 82px;
    width: 82px;
    border-radius: 10px;
    border: 1px solid #D9A963;
    background-color: #F2E3CE;
    color: #D9A963;
}

.themeAddButton:hover {
    background-color: #B99056;
    border: 1px solid #D9A963;
    color: #F2E3CE;
}

/*Index*/

.themePage__dataList {
    margin-top: 70px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 7px 36px;
    justify-content: center;
    align-items: center;
}

.themePage__dataList__itemLink {
    text-decoration: none;
    width: 48%;
}

/*Details*/

.themePage__detailsNavigation {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.themePage__detailsNavigation a {
    text-decoration: none;
    font-family: "DM Sans", sans-serif;
    font-size: 14px;
    color: #796157;
}

.themePage__detailsContainer {
    display: grid;
    grid-template-columns:auto 1fr;
    gap: 20px;
}

.themePage__detailsContainer > figure {
    aspect-ratio: 625/595;
    height: 595px;
    position: relative;
    margin: 0;
}

.themePage__detailsContainer > figure > figcaption {
    position: absolute;
    bottom: 0;
}

.themePage__detailsContainer > figure > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.themePage__detailsContainer__featuresContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 64px;
}

.themePage__detailsContainer__featuresContainer.toTopItemsAlign {
    justify-content: flex-start;
}

.themePage__detailsContainer__featuresContainer__featuresList {
    display: flex;
    padding: 0;
    margin-left: 36px;
    flex-direction: column;
    list-style: none;
    gap: 24px;
}

.themePage__detailsContainer__featuresContainer__featuresList__item {
    font-family: "DM Sans", sans-serif;
    color: #796157;
    font-size: 18px;
}

.themePage__detailsContainer__featuresContainer__featuresList__item.mainFeature {
    font-family: "Libre Baskerville", serif;
    font-weight: 700;
    font-size: 28px;
    color: #2C1810;
    margin-bottom: 29px;
}

.themePage__detailsContainer__featuresContainer__adminOptions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 7px;
    font-family: "DM Sans", sans-serif;
    font-size: 16px;
}

.themePage__detailsContainer__featuresContainer__adminOptions p{
    color: #2C1810;
    margin: 0;
}

.themePage__detailsContainer__featuresContainer__adminOptions ul{
    display: flex;
    flex-direction: row;
    gap: 21px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.themePage__detailsContainer__featuresContainer__adminOptions ul a.adminOptions__edit{
    color: #929292;
}

.themePage__detailsContainer__featuresContainer__adminOptions ul .adminOptions__delete{
    color: #D70000;
    text-decoration: underline;
    border:none;
    padding: 0;
    background: none;
}

/*Form*/

.themePage__Form {
    border-radius: 7px;
    padding: 50px 64px;
    box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.themePage__Form > form {
    display: flex;
    flex-direction: column;
    gap: 37px;
}

.themePage__Form > form .control-label {
    margin-bottom: 10px;
    font-family: "DM Sans", sans-serif;
    font-size: 18px;
    color: #2C1810;
    width: 372px;
}

.themePage__Form > form .form-control {
    border: 1px solid #2C1810;
    border-radius: 3px;
}

.themePage__Form__FileLabel {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.themePage__Form__FileLabel > input {
    display: none;
}

.themePage__Form__FileLabel > .themePage__Form__FileLabel__customFileInput {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 12px;
    padding: 43px 0;
    border: 1px solid #2C1810;
    border-radius: 3px;
    cursor: pointer;
}

.customFileInput__placeholder {
    font-family: "DM Sans", sans-serif;
    font-size: 16px;
    color: #929292;
}

.themePage__Form__submitContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/*Log in*/

.themePage__login__appLogo {
    font-family: "Libre Baskerville", serif;
    font-weight: 700;
    font-size: 41px;
    color: #2C1810;
}

.themePage_login__actionContainer{
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    align-items: center;
}