.themePage{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
.themeTitle {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: italic;
    font-size: 44px;
    color: #796157;
}

.themeButton {
    padding: 20px 23px;
    background-color: #D9A963;
    border-radius: 5px;
    text-decoration: none;
    border: none;
}

.themeButton:hover {
    background-color: #B99056;
}

.themeButton > .themeButton__text {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: black;
}

.themeButton > .themeButton__text:hover {
    color: white;
}

.themePage__dataList{
    
    
}
.--flex-wrap-two-column {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 7px 36px;
    justify-content: center;
    align-items: center;
}
