@model string
@{
    ViewData["Title"] = $"{Model} a bien été supprimée";
}
<section class="themePage themePage__with__paddingTop">
    <h2 class="themeTitle">@Model</h2>
    <p class="themeDescription">a bien été supprimée</p>
    <a asp-action="Index" class="themeButton">
        <span class="themeButton__text">retour à l'accueil</span>
    </a>
</section>
