@model OCP5.Models.ViewModels.VehicleViewModel

@{
    ViewData["Title"] = "Mettre à jour une voiture";
}

<section class="themePage themePage__with__paddingTop">
    <h2 class="themeTitle">@ViewData["Title"]</h2>
    <p class="themeDescription">Tous les champs sont obligatoires</p>
    <div class="themePage__Form">
        <form asp-action="Edit" method="post"  enctype="multipart/form-data">
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="SellingPrice" class="control-label"></label>
                <input asp-for="SellingPrice" class="form-control" step="0.01"/>
            </div>
            <div class="form-group">
                <label asp-for="VehicleYearId" class="control-label"></label>
                <select asp-for="VehicleYearId" class ="form-control" asp-items="Model.VehicleYears"></select>
            </div>
            <div class="form-group">
                <label asp-for="BrandId" class="control-label"></label>
                <select asp-for="BrandId" class ="form-control" asp-items="Model.Brands"></select>
            </div>
            <div class="form-group">
                <label asp-for="ModelId" class="control-label"></label>
                <select asp-for="ModelId" class ="form-control" asp-items="Model.Models"></select>
            </div>
            <div class="form-group">
                <label asp-for="FinitionId" class="control-label"></label>
                <select asp-for="FinitionId" class ="form-control" asp-items="Model.Finitions"></select>
            </div>
            <div class="form-group">
                <label asp-for="File" class="control-label themePage__Form__FileLabel">
                    <span>@Html.DisplayNameFor(m => m.File)</span>
                    <div class="themePage__Form__FileLabel__customFileInput">
                        <span class="themeAddButton">+</span>
                        <span class="customFileInput__placeholder">Ajoutez une image</span>
                    </div>
                    <input asp-for="File" class ="form-control" accept=".jpg,.jpeg,.png,.webp"></input>
                </label>
            </div>
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group themePage__Form__submitContainer">
                <input type="submit" value="Mettre à jour" class="themeButton" />
            </div>
        </form>
    </div>
</section>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
