@model IEnumerable<OCP5.Models.ViewModels.VehicleThumbnailViewModel>

@{
    ViewData["Title"] = "Nos voitures";
}

<div class="themePage themePage__with__paddingTop">
    <h1 class="themeTitle">@ViewData["Title"]</h1>
    <a asp-action="Create" class="themeButton">
        <span class="themeButton__text">+ Ajouter une voiture</span>
    </a>
    <div class="themePage__dataList">
    @foreach (var item in Model)
    {
        var itemName = $"{item.Year} {item.BrandName} {item.ModelName} {item.FinitionName}";
        <a asp-action="Details" asp-route-id="@item.Id" class="themePage__dataList__itemLink" title="@itemName">
            @await Html.PartialAsync("Components/Thumbnail", item)
        </a>
    }
    </div>
</div>
