
<section class="themePage themePage__with__paddingTop">
    <h2 class="themeTitle">Merci !</h2>
    <p class="themeDescription">Votre voiture a bien été publiée</p>
    <a asp-action="Index" class="themeButton">
        <span class="themeButton__text">retour à l'accueil</span>
    </a>
</section>